<!DOCTYPE html>
<html lang="en-US">
<body ng-app="myApp">
	<div ng-controller="LoginController">
		<h1>Parqueadero</h1>
		<form name="logForm">
			<p class="bg-info info-msg" id="info1">{{Message}}</p>
			
			<div class="form-group">
				<label class=blue_font>Tipo Vehiculo</label> 					
					<select class=form-control
						id="tipo" name="tipo" ng-model="logForm.tipo">
						<option value="op1">Carro</option>
						<option value="op2">Moto</option>
					</select>
			</div>
			
			<div class="form-group">
				<label class=blue_font>Placa</label> 
				<input class=form-control
					type="text" id="placa" ng-model="logForm.placa"
					placeholder="Placa" autocomplete="off">
			</div>
			
			<div class="form-group">
				<label class=blue_font>Fecha Entrada</label> 
				<input class=form-control
					type="datetime" id="placa" ng-model="logForm.placa"
					placeholder="Fecha Entrada" autocomplete="off">
			</div>
			
			<div class="form-group">
				<label class=blue_font>Fecha Salida</label> 
				<input class=form-control
					type="datetime" id="placa" ng-model="logForm.placa"
					placeholder="Fecha Salida" autocomplete="off">
			</div>

		</form>
	</div>
	<script src="../../js/angular.min.js"></script>
	<script src="../../js/angular-resource.min.js"></script>
	<script src="../../js/app.js"></script>
	<link rel="stylesheet" href="../../css/style.css">
	<link rel="stylesheet" href="../../css/theme-default.css">
	<link rel="stylesheet" href="../../css/theme-blue.css">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/custom.css">
</body>
</html>
