<!DOCTYPE html>
<html lang="en-US">
<body ng-app="myApp">
	<div ng-controller="LoginController">
		<h1>Login</h1>
		<form name="logForm">
			<p class="bg-info info-msg" id="info1">{{Message}}</p>
		</form>
	</div>
	<script src="../../js/angular.min.js"></script>
	<script src="../../js/angular-resource.min.js"></script>
	<script src="../../js/app.js"></script>
	<link rel="stylesheet" href="../../css/style.css">
	<link rel="stylesheet" href="../../css/theme-default.css">
	<link rel="stylesheet" href="../../css/theme-blue.css">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/custom.css">
</body>
</html>
