<!DOCTYPE html>
<html lang="en-US">
<body ng-app="myApp">
	<div ng-controller="UserController">

		<snap-drawer>
		<div class=snap-menu>
			<div class="sidebar-header text-center">
				<img src="../../img/logoParking.png" class="sidebar-img img-circle">
			</div>
			<ul class=snap-ul>
				<li><a href="../main/main.html">Home</a></li>
				<li><a href="#">Create User</a></li>
			</ul>
		</div>
		</snap-drawer>

		<snap-content snap-opt-tap-to-close="false" class="snap-content"
			style="transform: translate3d(250px, 0px, 0px);"> <a
			snap-toggle="left" ng-click="menuOpen = !menuOpen"> <span
			class="menutoggle"> </span>
		</a>
		<div class="fr">
			<h1>Create User</h1>
			<br>
		</div>
		<div>
			<div style="width: 60%; padding-left: 20px;">
				<form name="userForm">
					<table border="1">
						<tr>
							<th>ID</th>
							<th>Document</th>
							<th>LastName</th>
							<th>Name</th>
							<th>User</th>
						</tr>
						<tr ng-repeat="row in users">
							<td><span ng-bind="row.id"></span></td>
							<td><span ng-bind="row.document"></span></td>
							<td><span ng-bind="row.lastName"></span></td>
							<td><span ng-bind="row.name"></span></td>
							<td><span ng-bind="row.user"></span></td>
							<td>
						</tr>
					</table>

					<p class="bg-info info-msg" id="info1">{{Message}}</p>
					
					<div class="form-group">
						<label class=blue_font>Document</label> <input class=form-control
							type="text" id="document" ng-model="userForm.document"
							placeholder="Document" autocomplete="off">
					</div>
					
					<div class="form-group">
						<label class=blue_font>LastName</label> <input class=form-control
							type="text" id="lastname" ng-model="userForm.lastname"
							placeholder="LastName" autocomplete="off">
					</div>

					<div class="form-group">
						<label class=blue_font>Name</label> <input class=form-control
							type="text" id="name" ng-model="userForm.name"
							placeholder="Name" autocomplete="off">
					</div>

					<div class="form-group">
						<label class=blue_font>User</label> <input class=form-control
							type="text" id="user" ng-model="userForm.user" placeholder="User"
							autocomplete="off">
					</div>

					<div class="btn-wrapper">
						<div class="row-gutter-5">
							<div class="col-md-4 col-xs-6 col-sm-6">
								<button class="btn btn-primary btn-lg btn-white" type="button"
									data-ng-click="create()" id="Create">Create</button>
							</div>
							<div class="col-md-4 col-xs-6 col-sm-6">
								<button class="btn btn-primary btn-lg btn-white" type="button"
									data-ng-click="refresh()" id="refresh">Refresh</button>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
		</snap-content>
	</div>

	<script src="../../js/angular.min.js"></script>
	<script src="../../js/angular-resource.min.js"></script>
	<script src="../../js/app.js"></script>
	<script src="../../js/vendor.js"></script>
	<script src="../../js/scripts.js"></script>
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel=stylesheet href="../../css/main.css">
	<link rel=stylesheet href="../../css/vendor.css">

</body>
</html>
